<!DOCTYPE html>
<html>
	<head>
		<title>mygag</title>
		<link rel="stylesheet" href="/dist/css/bootstrap.min.css">
		<link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="dist/css/styles.css">
		</head>
	<body>
		<header>
			<h1>
				<a href="/" class="logo">mygag</a>
			</h1>
		</header>
		<div class="app">
			
		</div>
		<footer>
			<p class="center">Hosted on Openshift's free paas node</p>
		</footer>
		<script type="text/javascript" src="dist/js/build.js"></script>
	</body>
</html>